@import url('https://fonts.googleapis.com/css2?family=Montserrat');

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* End CSS Reset */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: #292952;
  color: #E64A31;
  border-bottom: 2px solid #FFD518;
}

h1 {
  font-size: 2.5rem;
}

footer {
  background-color: #292952;
  color: white;
  border-top: 2px solid #FFD518;
}

h3 {
  display: inline;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0.2rem;
}

a {
  color: white;
}

textarea {
  width: 70%;
  height: 80vh;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: hsla(0, 0%, 0%, 0.3);
  border-radius: 1rem;
  border: none;
  color: white;
  resize: none;
}

textarea:focus {
  outline: none;
}

main {
  width: 100%;
  background-image: radial-gradient(#5A62AC, #282851);
  flex-grow: 1;
  column-count: 2;
  column-width: 500px;
}

.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.group {
  break-inside: avoid;
}

.entryarea {
  display: flex;
  position: relative;
  height: 40px;
  line-height: 40px;
  width: 50%;
  min-width: fit-content;
}

@media only screen and (max-width: 600px) {
  textarea {
    width: 85%
  }
  .entryarea {
    width: 85%;
  }
}

.entryarea input {
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  padding: 0 15px;  
  line-height: 40px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  transition: 0.2s ease;
  z-index: 1;
}

.entryarea .labelline {
  position: absolute;
  white-space: nowrap;
  font-size: 1.2rem;
  color: white;
  width: 100%;
  padding-left: 15px;
  background-color: transparent;
  transition: 0.2s ease;
}

.entryarea input:focus, .entryarea input:valid {
  color: #FFD518;
  border: 4px solid #FFD518;
}

input:focus + .labelline, input:valid + .labelline {
  color: #FFD518;
  height: 30px;
  line-height: 30px;
  width: min-content;
  padding: 0 6px;
  transform-origin: left;
  transform: translate(14px, -18px) scale(0.88);
  border: 2px solid #FFD518;
  background-color: #282851;
  z-index: 1;
}

input[type="radio"] {
  display: none;
}

label {
  text-align: center;
}

label.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: #111111;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

label.button:hover {
  background-color: black;
}

input[type="radio"]:checked + label.button {
  background-color: #BD3941;
  color: black;
}

button {
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: #111111; 
}

button:hover {
  cursor: pointer;
}

#error {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: #BD3941;
  color: white;
  border: 2px solid #BD3941;
  border-radius: 0.5rem;
}

#error:empty {
  display: none;
}

.divisions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 33%;
  width: 100%;
}

.divisions label {
  flex-basis: 20%;
}

.errorswitch {
  display: flex;
  font-size: 1.5rem;
  color: white;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}